.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.no-scrollbar {
    overflow: -moz-scrollbars-none;
}

.small-scrollbar::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background-color: #F5F5F5;
}
.small-scrollbar:hover::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}
.small-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #cecece;
}
.small-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
}
.small-scrollbar::-webkit-scrollbar-thunmb:hover {
    background: #fff;
}
.small-scrollbar::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}

/* 表格样式控制 */
/* 表格数据格样式 */
.table-data {
    @apply ring-1 ring-slate-100/25 ring-inset hover:ring-blue-200 hover:bg-blue-200/25
}
.table-data-cell {
    @apply flex items-center justify-center min-w-[80px] my-2 text-xl font-extralight
}
.table-content{
    @apply text-center border-b border-l border-zinc-100 leading-loose hover:bg-blue-100/25 even:bg-slate-200 
}
/* 表格表头样式 */
.table-title {
    @apply hover:bg-blue-100/50
}
.table-head {
    @apply leading-loose text-sm 2xl:text-base border-b-[1px] border-gray-700 
}
.table-title-cell {
    @apply flex items-center justify-center px-4 pt-3 pb-2 min-w-max text-lg font-light
}